<template>
  <div></div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { WeatherConditions } from '@/store/weather/types'

@Component
export default class GoogleMapWeatherOverlay extends Vue {
  @Prop() public google!: any;

  @Prop() public map!: any;

  @Prop() public city!: any;

  mounted() {
    const overlay = new this.WeatherOverlay(this.city, this.map, this.google);
  }

  WeatherOverlay = class WeatherOverlay extends this.google.maps.OverlayView {

    private wrapper: any;

    private container: any;

    private iconElm: any;

    private detailsElm: any;

    private cityElm: any;

    private temperatureElm: any;

    constructor(private city: any, private map: any, private google: any) {
      super();

      this.setMap(map);
    }

    onAdd() {
      this.wrapper = document.createElement('div');
      this.wrapper.classList.add('weather-info')

      this.container = document.createElement('div');
      this.container.classList.add('weather-info__container')

      this.wrapper.appendChild(this.container)

      this.cityElm = document.createElement('header')
      this.cityElm.classList.add('weather-info__city')
      this.cityElm.innerHTML = this.city.name
      this.container.appendChild(this.cityElm)

      this.iconElm = document.createElement('div')
      this.iconElm.classList.add('weather-info__icon')
      this.container.appendChild(this.iconElm)

      this.temperatureElm = document.createElement('div')
      this.temperatureElm.classList.add('weather-info__temperature')
      this.temperatureElm.innerHTML = this.city.current && this.city.current.temperature
      this.container.appendChild(this.temperatureElm)

      this.detailsElm = document.createElement('div')
      this.detailsElm.classList.add('weather-info__details')
      this.container.appendChild(this.detailsElm)

      this.updateWeather(this.city.current)
      this.getPanes().floatPane.appendChild(this.wrapper);
    }

    draw() {
      const { wrapper } = this;
      const { lat, lng } = this.city

      const latLng = new this.google.maps.LatLng(this.city.lat, this.city.lng)
      const wrapperPosition = this.getProjection().fromLatLngToDivPixel(latLng)

      const display = 'block'

      if (display === 'block') {
        wrapper.style.left = wrapperPosition.x + 'px';
        wrapper.style.top = wrapperPosition.y + 'px';
      }
      if (wrapper.style.display !== display) {
        wrapper.style.display = display;
      }
    }

    strMatch(seed: string, haystack: string) {
      const regex = new RegExp(seed, 'i')
      return Boolean(haystack.match(regex))
    }

    updateWeather(weather: WeatherConditions) {
      if (typeof weather !== 'undefined' && typeof weather.condition !== 'undefined') {
        if (this.strMatch('sun', weather.condition) || this.strMatch('clear', weather.condition)) {
          this.iconElm.appendChild(this.sunIcon())          
        } else if (this.strMatch('cloud', weather.condition)) {
          this.iconElm.appendChild(this.cloudIcon())
        } else if (this.strMatch('snow', weather.condition)) {
          this.iconElm.appendChild(this.snowIcon())
        } else if (this.strMatch('rain', weather.condition)) {
          this.iconElm.appendChild(this.rainIcon())          
        }
      }
    }
    
    onRemove() {
      this.wrapper.parentNode.removeChild(this.wrapper);
      this.wrapper = null;
    }

    hide() {
      if (this.wrapper) {
        // The visibility property must be a string enclosed in quotes.
        this.wrapper.style.visibility = 'hidden';
      }
    }

    show() {
      if (this.wrapper) {
        this.wrapper.style.visibility = 'visible';
      }
    }

    toggle() {
      if (this.wrapper) {
        if (this.wrapper.style.visibility === 'hidden') {
          this.show();
        } else {
          this.hide();
        }
      }
    }

    toggleDOM() {
      if (this.getMap()) {
        // Note: setMap(null) calls OverlayView.onRemove()
        this.setMap(null);
      } else {
        this.setMap(this.map);
      }
    }

    sunIcon() {
      const forecast = document.createElement('div')
      forecast.classList.add('forecast')

      const forecastSunny = document.createElement('div')
      forecastSunny.classList.add('forecast__sunny')
      forecast.appendChild(forecastSunny)

      return forecast
    }

    sunCloudIcon() {
      const forecast = document.createElement('div')
      forecast.classList.add('forecast')

      const forecastCloudy = document.createElement('div')
      forecastCloudy.classList.add('forecast__cloudy')
      forecast.appendChild(forecastCloudy)

      const forecastCloudySun = document.createElement('div')
      forecastCloudy.classList.add('forecast__cloudy__sun')
      forecastCloudy.appendChild(forecastCloudySun)

      const forecastCloudyCloudSmall = document.createElement('div')
      forecastCloudyCloudSmall.classList.add('forecast__cloudy__cloud')
      forecastCloudyCloudSmall.classList.add('forecast__cloudy__cloud--small')
      forecastCloudy.appendChild(forecastCloudyCloudSmall)

      const forecastCloudyCloudNormal = document.createElement('div')
      forecastCloudyCloudNormal.classList.add('forecast__cloudy__cloud')
      forecastCloudyCloudNormal.classList.add('forecast__cloudy__cloud--normal')
      forecastCloudy.appendChild(forecastCloudyCloudNormal)

      return forecast      
    }

    cloudIcon() {
      const forecast = document.createElement('div')
      forecast.classList.add('forecast')

      const forecastCloudy = document.createElement('div')
      forecastCloudy.classList.add('forecast__cloudy')
      forecast.appendChild(forecastCloudy)

      const forecastCloudySun = document.createElement('div')
      forecastCloudy.classList.add('forecast__cloudy__sun')
      forecastCloudy.appendChild(forecastCloudySun)

      const forecastCloudyCloudSmall = document.createElement('div')
      forecastCloudyCloudSmall.classList.add('forecast__cloudy__cloud')
      forecastCloudyCloudSmall.classList.add('forecast__cloudy__cloud--small')
      forecastCloudy.appendChild(forecastCloudyCloudSmall)

      const forecastCloudyCloudNormal = document.createElement('div')
      forecastCloudyCloudNormal.classList.add('forecast__cloudy__cloud')
      forecastCloudyCloudNormal.classList.add('forecast__cloudy__cloud--normal')
      forecastCloudy.appendChild(forecastCloudyCloudNormal)

      return forecast
      
    }

    rainIcon() {
      const forecast = document.createElement('div')
      forecast.classList.add('forecast')

      const forecastRainy = document.createElement('div')
      forecastRainy.classList.add('forecast__rainy')
      forecast.appendChild(forecastRainy)

      const forecastRainyRain1 = document.createElement('div')
      forecastRainyRain1.classList.add('forecast__rainy__rain')
      forecastRainyRain1.classList.add('forecast__rainy__rain--one')
      forecastRainy.appendChild(forecastRainyRain1)

      const forecastRainyRain2 = document.createElement('div')
      forecastRainyRain2.classList.add('forecast__rainy__rain')
      forecastRainyRain2.classList.add('forecast__rainy__rain--two')
      forecastRainy.appendChild(forecastRainyRain2)

      const forecastRainyRain3 = document.createElement('div')
      forecastRainyRain3.classList.add('forecast__rainy__rain')
      forecastRainyRain3.classList.add('forecast__rainy__rain--three')
      forecastRainy.appendChild(forecastRainyRain3)

      const forecastRainyRain4 = document.createElement('div')
      forecastRainyRain4.classList.add('forecast__rainy__rain')
      forecastRainyRain4.classList.add('forecast__rainy__rain--four')
      forecastRainy.appendChild(forecastRainyRain4)

      const forecastRainyCloud = document.createElement('div')
      forecastRainyCloud.classList.add('forecast__rainy__cloud')
      forecastRainyCloud.classList.add('forecast__rainy__cloud--grey')
      forecastRainy.appendChild(forecastRainyCloud)

      return forecast
    }

    snowIcon() {
      const forecast = document.createElement('div')
      forecast.classList.add('forecast')

      const forecastSnowy = document.createElement('div')
      forecastSnowy.classList.add('forecast__snow')
      forecast.appendChild(forecastSnowy)

      const forecastSnowySnow1 = document.createElement('div')
      forecastSnowySnow1.classList.add('forecast__snow__snow')
      forecastSnowySnow1.classList.add('forecast__snow__snow--one')
      forecastSnowy.appendChild(forecastSnowySnow1)

      const forecastSnowySnow2 = document.createElement('div')
      forecastSnowySnow2.classList.add('forecast__snow__snow')
      forecastSnowySnow2.classList.add('forecast__snow__snow--two')
      forecastSnowy.appendChild(forecastSnowySnow2)

      const forecastSnowySnow3 = document.createElement('div')
      forecastSnowySnow3.classList.add('forecast__snow__snow')
      forecastSnowySnow3.classList.add('forecast__snow__snow--three')
      forecastSnowy.appendChild(forecastSnowySnow3)

      const forecastSnowySnow4 = document.createElement('div')
      forecastSnowySnow4.classList.add('forecast__snow__snow')
      forecastSnowySnow4.classList.add('forecast__snow__snow--four')
      forecastSnowy.appendChild(forecastSnowySnow4)

      const forecastSnowyCloud = document.createElement('div')
      forecastSnowyCloud.classList.add('forecast__snow__cloud')
      forecastSnowyCloud.classList.add('forecast__snow__cloud--grey')
      forecastSnowy.appendChild(forecastSnowyCloud)

      return forecast
    }

  } // end overlay class definition
}
</script>

<style lang="scss">
  .weather-info {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -100%);
    font-family: sans-serif;
    max-width: 150px;
    // box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
  }

  .weather-info__container {
    position: relative;
    display: flex;
    max-width: 120px;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .weather-info__city {
    font-weight: bold;
    font-size: 20px;
    color: white;
    flex: 0 0 100%;
    text-align: center;
  }

  .weather-info__icon, .weather-info__temperature {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: justify;
    color: white;
  }

  .weather-info__temperature {
    font-size: 24px;
  }

  .weather-info__details {
    font-weight: bold;
    font-size: 14px;
    color: white;
    flex: 0 0 100%;
    text-align: center;
  }


  // icons jacked from https://codepen.io/xaksis/pen/dRQqdX
  .forecast {
    position: relative;
  }

  .forecast__label{
    position: absolute;
    left: 100px;
    top: 50%;
    margin-top: -15px;
  }

  .forecast__sunny{
    width: 60px;
    height: 60px;
    position: relative;
  }
  .forecast__sunny::before{
    content: '';
    display: block;
    width: 60px;
    height: 60px;
    background: #fdf6c6;
    border-radius: 50%;
    animation-duration: 1.6s;
    animation-name: fadeIn;
    animation-iteration-count: infinite;
  }

  .forecast__sunny::after{
    width: 40px;
    height: 40px;
    background: #faeb7c;
    border-radius: 50%;
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
  }

  .forecast__cloudy__sun {
    width: 40px;
    height: 40px;
    background: #faeb7c;
    border-radius: 50%;
    margin-left: 10px;
  }

  .forecast__cloudy__cloud, .forecast__rainy__cloud, .forecast__snow__cloud{
    width: 30px;
    height: 25px;
    top: 50%;
    margin-top: -10px;
    background: white;
    position: absolute;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
  }

  .forecast__cloudy__cloud:after, .forecast__rainy__cloud:after, .forecast__snow__cloud:after{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    bottom: 0px;
  }

  .forecast__cloudy__cloud:before, .forecast__rainy__cloud:before, 
  .forecast__snow__cloud:before{
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    background: white;
    border-radius: 50%;
    position: absolute;
    right: -9px;
    bottom: 0px;
  }

  .forecast__cloudy__cloud--normal{
    animation-duration: 6s;
    animation-name: moveRight;
    animation-iteration-count: infinite;
  }

  .forecast__cloudy__cloud--small{
    transform: scale(0.5);
    left: 50px;
    margin-top: -20px;
    animation-duration: 6s;
    animation-name: moveLeft;
    animation-iteration-count: infinite;
  }

  .forecast__rainy, .forecast__snow {
    height: 60px;
    width: 60px;
    overflow: hidden;
    position: relative;
  }

  .forecast__rainy__cloud--grey{
    top: 10px;
    border: 0px;
    margin-left: 15px;
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }

  .forecast__rainy__cloud--grey:after{
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }
  .forecast__rainy__cloud--grey:before{
    background: linear-gradient(to bottom, #7F868D, #466D98)
  }

  .forecast__rainy__rain{
    position: absolute;
    width: 2px;
    background: #689EDB;
    top: 17px;
  }

  .forecast__rainy__rain--one{
    left: 15px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--two{
    left: 25px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--three{
    left: 35px;
    height: 10px;
    animation-duration: 1s;
    animation-delay: 0.7s;
    animation-name: raining;
    animation-iteration-count: infinite;
  }
  .forecast__rainy__rain--four{
    left: 45px;
    height: 10px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
  }

  .forecast__snow__cloud--grey{
    top: 10px;
    border: 0px;
    margin-left: 15px;
    background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
  }

  .forecast__snow__cloud--grey:after{
    background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
  }
  .forecast__snow__cloud--grey:before{
    background: linear-gradient(to bottom, #ECEFF2, #CBD0D6)
  }

  .forecast__snow__snow{
    position: absolute;
    width: 1px;
    height: 5px;
    background: #7ccafa;
    top: 10px;
  }
  .forecast__snow__snow:after{
    content: '';
    display: block;
    position: absolute;
    width: 5px;
    height: 1px;
    top: 50%;
    margin-top: 0px;
    background: #7ccafa;
    margin-left: -2px;
  }

  .forecast__snow__snow--one{
    left: 15px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0s;
    animation-iteration-count: infinite;
  }

  .forecast__snow__snow--two{
    left: 25px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
  }

  .forecast__snow__snow--three{
    left: 35px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
  }

  .forecast__snow__snow--four{
    left: 45px;
    animation-duration: 1s;
    animation-name: raining;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
  }

  /* animations */
  @keyframes fadeIn {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  @keyframes moveRight {
    0% {
      left: 10px;
    }
    
    50% {
      left: 45px;
    }
    
    100% {
      left: 10px;
    }
  }

  @keyframes moveLeft {
    0% {
      left: 50px;
    }
    
    50% {
      left: 10px;
    }
    
    100% {
      left: 50px;
    }
  }

  @keyframes raining {
    0% {
      top: 15px;
    }
    100% {
      top: 50px;
    }
  }
</style>
