<template>
  <div class="google-map-container">
    <div class="google-map" ref="googleMap"></div>
    <template v-if="Boolean(this.google) && Boolean(this.map)">
      <slot
        :google="google"
        :map="map"
      />
    </template>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

import * as GoogleMapsApiLoader from 'google-maps-api-loader'

@Component({
  data() {
    return {
      google: null,
      map: null,
    }
  },
})
export default class GoogleMapLoader extends Vue {

  @Prop() public mapConfig!: object

  public map: any = null

  public google: any = null

  async mounted() {
    /* eslint-disable no-alert */
    const googleMapApi = await GoogleMapsApiLoader({
      apiKey: process.env.VUE_APP_GOOGLE_API_KEY,
    })
    this.google = googleMapApi
    this.initializeMap()
  }

  initializeMap() {
    const mapContainer = this.$refs.googleMap
    this.map = new this.google.maps.Map(
      mapContainer, this.mapConfig,
    )
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.google-map, .google-map-container {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
