<template>
  <div class='weather-map'>
    <GoogleMapLoader :mapConfig="mapConfig">
      <template slot-scope="{ google, map }">
        <GoogleMapWeatherOverlay
          v-for="city in weather.cities"
          :google="google"
          :map="map"
          :key="city.code"
          :city="city"
        />
      </template>
    </GoogleMapLoader>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { State, Action, Getter } from 'vuex-class';

import { mapSettings } from '@/constants/mapSettings';
import { WeatherState, WeatherConditions } from '@/store/weather/types'

import GoogleMapLoader from './GoogleMapLoader.vue';
import GoogleMapWeatherOverlay from './GoogleMapWeatherOverlay.vue';

const namespace: string = 'weather'

@Component({
  components: {
    GoogleMapLoader,
    GoogleMapWeatherOverlay,
  },
  computed: {
    mapConfig() {
      return {
        ...mapSettings,
        zoom: 6,
        center: { lat: 53.7267, lng: -127.6476 },
      };
    },
  },
})
export default class WeatherMap extends Vue {
  @State('weather') weather: WeatherState;
  @Action('fetchData', { namespace }) fetchData: any;
  mounted() {
    this.updateTicker()
  }
  // unfortunately polling for updates until i 
  // get serverless/vue/websockets figured out better
  updateTicker() {
    this.fetchData()
    setTimeout(() => {
      this.updateTicker()
    }, 300000) // updates every 5 minutes
  }
}
</script>

<style lang="scss">

#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.weather-map {
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
