<template>
  <div id="app">
    <WeatherMap/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import WeatherMap from './components/WeatherMap.vue';

@Component({
  components: {
    WeatherMap,
  },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
  width: 100%;
  height: 100%;
}
</style>
